.beerCard {
    flex-basis: 80%;
    padding: 13px;
    padding-top: 24px;
    position: relative;
    -webkit-box-shadow: 7px 0px 40px -8px rgba(112,111,111,1);
    -moz-box-shadow: 7px 0px 40px -8px rgba(112,111,111,1);
    box-shadow: 7px 0px 40px -8px rgba(112,111,111,1);
    margin-bottom: 40px;
    background-color: #fff;
}

.beerCard:last-child {
    margin-bottom: 0;
}

.beerCard:last-child {
    margin-bottom: 0;
}

.imgCont:hover .overlay {
    opacity: 1;
}
.overlay {
    opacity: 0;;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    /*border-top-left-radius: 6px;*/
    /*border-top-right-radius: 6px;*/
    overflow: hidden;
}

.bottleImg {
    display: block;
    /* width: 100%; */
    height: 250px;
    margin: auto;
    margin-bottom: 30px;
}

.spanCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: #fff; */
    margin-bottom: 35px;
}

.name {
    color: #2c2c26;
    font-weight: 600;
    font-size: 16px;
    /* background-color: #fff; */
    flex-basis: 100%;
    margin-bottom: 12px;
    display: block;
    min-height: 40px;
}

.abv {
    color: #969690;
    font-weight: 500;
    /* background-color: #fff; */
}

.price {
    color: #921e2d;
    font-weight: 600;
    font-size: 19px;
    /* background-color: #fff; */
}

.btnCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column-reverse
}

.moreBtn {
    color: #2c2c26;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-end;
}

.moreBtn:hover {
    color: #921e2d;
}

.cartBtn {
    color: #921e2d;
    font-weight: 600;
    font-size: 17px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    border: 1px solid #c7c7c3;
    padding: 17px;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}

.cartBtn:hover {
    background-color: #921e2d;
    color: #fff;
}

.star {
    width: 28px;
    height: 28px;
    /* background-color: #fff; */
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
    z-index: 2;
}

.star:hover {
    color: #2c2c26;
}

.desc {
    color: #FFF;
    padding: 20px;
    top: 10px;
    font-size: 15px;
    position: relative;
}

@media (min-width:400px) {
    .beerCard {
        flex-basis: 70%
    }
}

@media (min-width:480px) {
    .beerCard {
        flex-basis: 63%
    }
}

@media (min-width: 520px) {
    .beerCard {
        flex-basis: 55%
    }
}

@media (min-width: 600px) {
    .beerCard {
        flex-basis: 41%
    }

    .beerCard:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}

@media (min-width: 750px) {
    .beerCard {
        flex-basis: 36%
    }
}

@media (min-width: 890px) {
    .beerCard {
        flex-basis: 29%
    }
    .beerCard:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
}

@media (min-width: 1000px) {
    .beerCard {
        flex-basis: 26%
    }
}

@media (min-width: 1190px) {
    .beerCard {
        flex-basis: 21%
    }
    .beerCard:nth-last-child(-n+4) {
        margin-bottom: 0;
    }
}