Header {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 300;

}

.header__wrapper {
    position: relative;
    overflow: hidden;
    height: 80vh;
    background-size: cover !important;
    background-image: url('./img/bg2.jpg');
}

.header__container {
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
}

.header__burger-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
}

.header__mobile-menu {
    list-style: none;
    display: block;
    margin: 0.75rem 0 0 0.75rem;
    width: fit-content;
    text-transform: uppercase;
    background-color: #ccc;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border-radius: 0.2rem;
}

.header__menu {
    display: none;
}

.header__menu-item {
    font-size: 0.7rem;
    color: #000;
    padding: 0.15rem 0.5rem;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.header__basketicon {
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    font-size: 1.25rem;
    color: #fff;
}

.header__basketcount {
    content: '1';
    display: block;
    width: 1.15rem;
    height: 1.15rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #f60000;
    color: #fff;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 800;
    text-align: center;
    position: absolute;
    top: -0.45rem;
    right: -0.65rem;
}

.slide {
    /*height: 100vh;*/
}

.slide-inner {
    display: none;
    max-width: 60%;
    padding-top: 8rem;
    font-family: 'Jura', sans-serif;
    font-weight: 300;
}

.slide-quote {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.slide-quote-author {
    font-size: 1rem;
}

.header__random-product {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
    min-width: 280px;

    background-color: rgba(255,255,255,0.9);
    -webkit-border-radius: 0.35rem;
    -moz-border-radius: 0.35rem;
    border-radius: 0.35rem;
}

@media (min-width: 768px) {
    .header__wrapper  {
        padding: 1rem 3rem;
    }

    .header__container {
        position: relative;
    }

    .header__burger-icon {
        display: none;
    }

    .header__basketicon {
        right: 0.25rem;
    }

    .header__mobile-menu {
        display: none;
    }

    .header__menu {
        display: flex;
        justify-content: space-between;
        list-style: none;
        max-width: 16rem;
        margin: 0 auto 2rem;
        text-transform: uppercase;
    }

    .header__menu-item {
        font-size: 0.85rem;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .header__menu-item:hover {
        /*font-weight: 700;*/
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .header__menu-item a {
        color: #fff;
        text-decoration: none;
    }

    .header__content {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
    }

    .header__random-product {
        position: static;
        transform: translate(0, 0);
    }

    .slide-inner {
        display: initial;
    }

    .header__wrapper,
    .slide {
        /*height: calc(100vh - 4rem);*/
        color: #fff;
    }

    .slide-quote {
        font-family: 'Jura', sans-serif;
        font-weight: 300;
        font-size: 3rem;
        line-height: 3.25rem;
        max-width: 32rem;
    }

    .slide-quote-author {
        font-family: 'Jura', sans-serif;
        font-weight: 300;
        font-size: 1.25rem;
    }

    .header__random-product {
        /*width: 38%;*/
        display: block;
    }

    .beerCard {
        margin-bottom: 0;
    }
}
