

/* 
/* .items { */
    /* display: flex; */
    /* justify-content: space-around;  */
    /* margin-bottom: 10px; */
    /* border: 2px solid red; */
/* } */
/* .value {
    margin-left: 17px;
    margin-right: 17px;
}
.price {
    font-style: italic;
    display: block; */
    /* margin-top: 5px; */
    /* color: #454545; */
    /* margin-left: 10px; */
/* } */
/* .price::after {
    content: '';
    display: block;
    background-color: #ef8a8c;
    width: 100px;
    height: 3px;
    margin-top: 10px; */
    /* border-bottom: 2px solid red; */
/* } */
/* .title {
    color: #414141;    
}
.text {
    text-align: center;
    margin-left: 5px;
}
.add {
    margin-top: 10px;
}
.unAdd {
    margin-bottom: 10px;
} */

/* .add, .unAdd {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    color: #a22c4d;
    border: 1px solid #a22c4d;
} */



/* .imageSize {
    width: 50px;
    height: 100px;
} */ 

.items{
    overflow: scroll;
    max-width: 400px;
    height: 165px;
}
/* .p {
    max-width: 50px;
} */
    /* max-width: 320px; */
    /* height: 5rem; */
    /* border: 4px solid red; */
    /* owerflow-y: none; */
    /* scroll-snap-points-y: none; */
    /* width: 200px; */

    
   
    /* padding: 10px; */
/* 
}
.busketWrap {
    overflow-x: scroll;
    width: 230px;
    height: 150px;
    
    /* border: 2px solid g
    reen; */
    /* height: 100px; */

    /* padding: 10px; */
    /* background-color: #ffffff; */

/* } */
/* .wrap { */
    /* word-wrap: break-word; */
    /* white-space: pre; */
/* } */
/* .subWrap {
    display: flex;
    flex-wrap: wrap;
} */
/* .value { */
    /* margin-left: 10px; */
    /* margin-right: 10px; */
/* } */
/* .count { */
    /* margin: auto; */
    /* text-align: center; */
/* } */
/* .title { */
    /* text-align: center; */
/* } */

/* .position { */
    /* display: flex; */
    /* justify-content: space-between; */
    /* padding: 10px 10px; */
    /* width: 100%; */
    /* align-items: center; */
/* } */

/* .img { */
    /* flex-basis: 40%; */
    /* height: 30px; */
/* } */
/* .paragraph { */
    /* flex-basis: 60%; */
    /* border: 2px solid blue; */
    /* align-items: center; */
    /* margin-le/ft: 10px; */
    /* height: 30px; */
/* } */
/* .totals { */
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* justify-content: space-between; */
/* } */ 