

.items{
    max-width: 400px;
    overflow: scroll;
    height: 165px;
    /* background-color: red; */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    margin-bottom: 20px;
}

.position {
    max-width: 400px;
    position: relative;
}
.buttonBuy {
    color: #921e2d;
    font-weight: 600;
    font-size: 17px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #c7c7c3;
    padding: 5px 30px;
    border-radius: 6px
}

.buttonBuy:hover {
    background-color: #921e2d;
    color: #fff;
}
.buys{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemList {
    /* border: 2px solid red; */

}