.sortBtnCont {
    flex-basis: 10%;
    left: 8px;
    background-color: #fff;
    -webkit-box-shadow: 7px 0px 40px -8px rgba(112,111,111,1);
    -moz-box-shadow: 7px 0px 40px -8px rgba(112,111,111,1);
    box-shadow: 7px 0px 40px -8px rgba(112,111,111,1);
    padding: 8px;
    display: none;
    /* position: absolute;
    z-index: 2;
    top: 0;
    left: -50rem; */
}

.sortBy {
    color: #2c2c26;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 20px;
    text-align: center;
}

.sortBtn {
    /*flex-basis: 60%;*/
    display: block;
    margin-bottom: 15px;
    color: #921e2d;
    font-weight: 600;
    font-size: 16px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    border: 1px solid #c7c7c3;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
}

.sortBtn:hover {
    background-color: #921e2d;
    color: #fff;
}

.sortBtn:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .sortBtnCont {
        display: block;
        position: relative;
        top: 5.75rem;
    }
}